@{
    ViewData["Title"] = "Home Page";
    <div class="text-center">

        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">
            Go to the Client Page
        </a>

        <a href="@Url.Action("ClientSatisfaction", "Home")" class="btn btn-primary">
            Go to Client Satisfaction Services
        </a>

        <a href="@Url.Action("ClientManagement", "Home")" class="btn btn-primary">
            Go to Client Management Services
        </a>

        <a href="@Url.Action("Technicians", "Home")" class="btn btn-primary">
            Go to Technicians
        </a>

        <a href="@Url.Action("ServiceDesk", "Home")" class="btn btn-primary">
            Go to Service Desk
        </a>

        <a href="@Url.Action("Privacy", "Home")" class="btn btn-primary">
            Go to the Contract Management Page
        </a>

    </div>
}